PORT=3000
FRONTEND_URL=http://localhost:3001
REDIS_URL=redis://127.0.0.1:6377
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5673
MONGO_URI=mongodb://localhost:27017/campaign-management

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
